<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle m-3" type="button" data-bs-toggle="dropdown" aria-expanded="false"
  style="width:13%;position:absolute;">
    Главное меню
  </button>
  <ul class="dropdown-menu" style="width:13%;">
    <li><a href="{% url 'catalog:home'%}" class="dropdown-item" type="button">Домашняя страница</a></li>
    <li><a href="{% url 'catalog:contacts'%}" class="dropdown-item" type="button">Контакты</a></li>
    <li><a href="{% url 'catalog:product_list'%}" class="dropdown-item" type="button">Каталог</a></li>
    <li><a href="{% url 'catalog:add_product' %}" class="dropdown-item" type="button">Добавить продукт</a></li>
  </ul>
</div>